<%= semantic_form_for @need, { url: @target } do |f| %>
  <%= f.inputs "User story", :id => "user-story" do %>
    <%= f.input :role, :label => "As a…", :hint => "Who is the user? E.g. a small business, a tax agent, a healthcare practitioner. Put 'user' when there's more than one type of user.", :input_html => { :class => 'long-form' } %>
    <%= f.input :goal, :label => "I need to…", :hint => "What does the user want to do?", :input_html => { :class => 'long-form' } %>
    <%= f.input :benefit, :label => "So that…", :hint => "Why does the user want to do this?", :input_html => { :class => 'long-form' } %>

    <% if f.object.applies_to_all_organisations %>
      <p class="all-organisations">
        This need applies to all organisations.
      </p>
    <% else %>
      <%= f.input :organisation_ids,
                    :as => :select,
                    :collection => Organisation.all,
                    :member_label => "name_with_abbreviation",
                    :hint => "Which government departments and agencies meet this need? You can select more than one.",
                    :label => "Departments and agencies (optional)",
                    :input_html => {
                      :multiple => true,
                      :class => "organisation-select"
                    } %>
    <% end %>
  <% end %>

  <%= render partial: "met_when", locals: { met_when_criteria: criteria_with_blank_value(@need.met_when), f: f } %>

  <%= f.input :justifications, :label => "Is this need in proposition for GOV.UK? You can tick more than one. (optional)", :hint => "Why should this need be on GOV.UK?", :as => :check_boxes, :collection => Need::JUSTIFICATIONS %>

  <%= f.inputs "Provide evidence for this need", :id => "evidence" do %>
    <p class="hint-text">This helps us understand how important this need is in context of all the needs GOV.UK meets.</p>
    <%= f.input :legislation, :label => "What legislation underpins this need? (optional)", :hint => "Please supply a URL, e.g. on legislation.gov.uk", :as => :text, :input_html => { :class => 'long-form', :rows => 3 } %>
    <%= f.input :yearly_user_contacts, :label => "Roughly how many user contacts do you get about this need per year (optional)", :hint => "Include calls to contact centres, emails, customer service tickets, etc.", :input_html => { :type => :text, :pattern =>"[0-9]*" } %>
    <%= f.input :yearly_need_views, :label => "Pageviews specific to this need per year (optional)", :hint => "Combine the pageviews for all relevant content.", :input_html => { :type => :text, :pattern =>"[0-9]*" } %>
    <%= f.input :yearly_site_views, :label => "Pageviews for your website per year (optional)", :hint => "This is for your whole website, not just this user need.", :input_html => { :type => :text, :pattern =>"[0-9]*" } %>
    <%= f.input :yearly_searches, :label => "How many searches relevant to this need are carried out per year (optional)", :hint => "Include external and internal searches.", :input_html => { :type => :text, :pattern =>"[0-9]*" } %>
    <%= f.input :other_evidence, :label => "Do you have any other evidence to support this need? (optional)", :hint => "E.g. user research, campaigns, user demand.", :as => :text, :input_html => { :class => 'long-form', :rows => 3 } %>
  <% end %>

  <%= f.input :impact, :label => "What is the impact of GOV.UK not doing this? (optional)", :hint => "What is the impact of GOV.UK not doing this?", :as => :radio, :collection => Need::IMPACT %>

  <%= render partial: "workflow_buttons", locals: { f: f, edit_page: true } %>
<% end %>
<% if params[:delete_criteria].present? || params[:criteria_action].present? %>
  <script>
    $(document).ready(function() {
        $(window).scrollTop($("#extra-information").offset().top);
      });
  </script>
<% end %>
