<tr>
  <td>
    <%= semantic_form_for :bookmark, :url => toggle_bookmarks_path do |f| %>
      <%= f.input :need_id, :as => :hidden, :input_html => { :value => need.id } %>
      <%= f.input :redirect_to, :as => :hidden, :input_html => { :value => @current_page } %>
      <button id="bookmark_<%= need.id %>" type="submit" class="btn btn-default">
        <span class="glyphicon <%= bookmark_icon(@bookmarks, need.id) %>"></span>
      </button>
    <% end %>
  </td>
  <td><%= link_to need.id, need_path(need.id) %></td>
  <td><%= link_to format_need_goal(need.goal), need_path(need.id) %></td>
  <td>
    <%= format_decision_made(need) %>
  </td>
  <td>
    <% if need.applies_to_all_organisations %>
      <span class="all-organisations">Applies to all organisations</span>
    <% else %>
      <% if need.organisations.any? %>
        <%= need.organisations.map {|o| o["name"] }.join(", ") %>
      <% end %>
    <% end %>
  </td>
</tr>
