<header class="block-border add-bottom-margin">
  <% if @need.organisations.any? %>
    <p class="need-organisations">
      <%= @need.organisations.map(&:name).join(", ") %>
    </p>
  <% end %>
  <div class="relative">
    <h1 class="need-title">
      <%= format_need_goal @need.goal %>
    </h1>
    <div class="need-btn-group">
      <% if local_assigns[:actions].include?(:edit) %>
        <%= link_to edit_need_path(@need), class: 'btn' do %>
          <i class="icon-edit"></i> Edit
        <% end %>
      <% end %>

      <% if local_assigns[:actions].include?(:history) %>
        <%= link_to revisions_need_path(@need), class: 'btn' do %>
          <i class="icon-time"></i> See history
        <% end %>
      <% end %>

      <% unless @need.out_of_scope? %>
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          More
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#out-of-scope" role="button" data-toggle="modal">Mark as out of scope</a>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</header>


<% unless @need.out_of_scope? %>
<div id="out-of-scope" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal-out-of-scope-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modal-out-of-scope-label">Mark as out of scope</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to mark this need as out of scope? This can’t be changed.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <%= button_to "Mark as out of scope",
                    descope_need_path(@need),
                    method: :put,
                    class: "btn btn-danger" %>
  </div>
</div>
<% end %>
