<tr>
  <td>
    <%= semantic_form_for :bookmark, :url => toggle_bookmarks_path do |f| %>
      <%= f.input :content_id, :as => :hidden, :input_html => { :value => need.content_id } %>
      <%= f.input :redirect_to, :as => :hidden, :input_html => { :value => @current_page } %>
      <button id="bookmark_<%= need.content_id %>" type="submit" class="btn btn-default">
        <span class="glyphicon <%= bookmark_icon(@bookmarks, need.content_id) %>"></span>
      </button>
    <% end %>
  </td>
  <td>
    <%=
      link_to(
        short_label_for_need(need),
        need_path(need.id)
      )
    %>
  </td>
  <td>
    <%= need.status %>
  </td>
  <td>
    <% if need.applies_to_all_organisations %>
      <span class="all-organisations">Applies to all organisations</span>
    <% else %>
      <% if need.organisations.any? %>
        <%= need.organisations.map {|o| o.name }.join(", ") %>
      <% end %>
    <% end %>
  </td>
</tr>
