
<li class="revision">
  <h3 class="revision-title">
    <%= Time.parse(revision.created_at).strftime("%-d %B %Y, %H:%M") %> &mdash;
    <%= revision.action_type.capitalize %> by
    <% if revision.author.present? -%>
      <%= revision.author.name %>
      <% if revision.author.email.present? %>
        &lt;<%= revision.author.email %>&gt;
      <% end %>
    <% else %>
      unknown author
    <% end %>
  </h3>

  <ul class="changes">
    <% revision.changes.each do |field,(previous,current)| %>
      <li>
        <%= format_field_name(field) %>:
        <span class="changed-value"><%= format_field_value(previous) %></span> &rarr;
        <span class="changed-value"><%= format_field_value(current) %></span>
      </li>
    <% end %>
  </ul>
</li>
