<% content_for :page_title, "Actions" %>

<article id="single-need">
  <nav class="add-top-margin">
    <%= render partial: "needs/breadcrumb", locals: { need: @need, action: "Actions" } %>
  </nav>

  <%= render :partial => "need_header", locals: { active: "Actions" } %>

  <div id="actions">
    <%= render partial: "needs/actions/out_of_scope" %>
    <hr/>
    <%= render partial: "needs/actions/duplicate_of" %>
  </div>

  <%= render partial: "workflow_buttons", locals: { edit_page: false } %>
</article>
