<% content_for :page_title, "Actions" %>

<article id="single-need">
  <nav class="add-top-margin">
    <ul class="breadcrumb">
      <li><%= link_to "All needs", needs_path %> <span class="divider">/</span></li>
      <li><%= link_to "#{@need.need_id}: #{format_need_goal @need.goal}", need_path(@need) %> <span class="divider">/</span></li>
      <li class="active">Actions</li>
    </ul>
  </nav>

  <%= render :partial => "need_header", locals: { active: "Actions" } %>

  <div id="actions">
    <%= render partial: "needs/actions/out_of_scope" %>
    <hr/>
    <%= render partial: "needs/actions/duplicate_of" %>
  </div>

  <%= render partial: "workflow_buttons", locals: { edit_page: false } %>
</article>
