<% content_for :page_title, "Close as a duplicate" %>

<article class="need">
  <nav class="add-top-margin">
    <ul class="breadcrumb">
      <li><%= link_to "All needs", needs_path %> <span class="divider">/</span></li>
      <li><%= link_to "#{@need.need_id}: #{format_need_goal @need.goal}", need_path(@need) %> <span class="divider">/</span></li>
      <li class="active">Close as a duplicate</li>
    </ul>
  </nav>

  <%= render :partial => "need_header", locals: { active: nil } %>
  <h3>Close as a duplicate</h3>

  <%= semantic_form_for @need, { url: closed_need_path(@need) } do |f| %>
    <%= f.input :duplicate_of,
                :label => "This need is a duplicate of",
                :hint => "ID of the need that this duplicates",
                :input_html => { :type => :text,
                  :pattern => "[0-9]*"
                }
              %>
    <%= f.action :submit,
                 :button_html => {
                   :value => "Close as a duplicate",
                   :class => "btn btn-danger"
                 }
               %>
  <% end %>

  <%= render partial: "workflow_buttons", locals: { edit_page: false, view_page: false } %>
</article>
