<% content_for :page_title, "All needs" %>

<div><%= link_to 'Maslow browser tools', bookmarklet_path, :class => "bookmarklet" %></div>
<h1 class="page-header">All needs</h1>

<div>
  <%= form_tag("/needs", method: "get", class: "filter") do %>
    <%= label_tag "organisation_id", "Filter needs by organisation:" %>
    &nbsp;
    <%= select_tag "organisation_id",
      options_from_collection_for_select(
        Organisation.all,
        "id",
        "name_with_abbreviation",
        params[:organisation_id]
      ),
      prompt: "All organisations",
      class: "organisation-select" %>
    <%= submit_tag "Filter", name: nil, class: "btn" %>
  <% end %>
  <script>
    $('select').change(function () {
      $(this.form).submit();
    });
    $('.filter .btn').hide();
  </script>
  <%= form_tag("/needs", method: "get", class: "search") do %>
    <%= label_tag "q", "Search needs:" %>
    &nbsp;
    <%= search_field_tag("q", params["q"], class: "search-term") %>
    <%= submit_tag "Search", name: nil, class: "btn" %>
  <% end %>
</div>

<%= render partial: "collection" %>

<% unless params[:organisation_id].blank? %>
  <span><%= link_to "Export as CSV", needs_path(organisation_id: params[:organisation_id],
                                                format: :csv) %></span>
<% end %>

<%= paginate_needs @needs %>

<%= render partial: "workflow_buttons" %>
