<h1 class="page-header">All needs</h1>

<div>
  <%= link_to "Add a new need", new_need_path, class: "btn" %>
  <%= form_tag("/needs", method: "get", class: "filter") do %>
    <%= label_tag "organisation_id", "Filter needs by organisation:" %>
    &nbsp;
    <%= select_tag "organisation_id",
      options_from_collection_for_select(Organisation.all, "id", "name", params[:organisation_id]),
      include_blank: true,
      class: "organisation-select" %>
    <%= submit_tag "Filter", class: "btn" %>
  <% end %>
  <%= form_tag("/needs", method: "get", class: "search") do %>
    <%= label_tag "q", "Search needs:" %>
    &nbsp;
    <%= search_field_tag("q", params["q"], class: "search-term") %>
    <%= submit_tag "Search", name: nil, class: "btn" %>
  <% end %>
</div>

<table class="table table-striped" id="needs">
  <thead>
    <tr>
      <th>Need ID</th>
      <th>I need to&hellip;</th>
      <th>Organisations</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "need_row", collection: @needs, as: :need %>
  </tbody>
</table>

<%= paginate_needs @needs %>
