<% content_for :page_title, 'Create need' %>

<h1 class="page-header">Create need</h1>

<%= semantic_form_for @need, url: "/needs" do |f| %>
  <%= f.input :role, :label => "As a...", :hint => "What type of user of GOV.UK are you?", :input_html => { :class => 'span8' } %>
  <%= f.input :goal, :label => "I want to...", :hint => "What need of government do you have?", :input_html => { :class => 'span8' } %>
  <%= f.input :benefit, :label => "So that...", :hint => "What are you trying to achieve?", :input_html => { :class => 'span8' } %>
  <hr/>
  <%= f.input :organisation_ids, :label => "Organisations", :hint => "Which government organisation(s) owns this need?", :as => :select, :input_html => { :multiple => true, :class => 'span8' }, :collection => Organisation.all %>
  <hr/>
  <%= f.input :justifications, :label => "Why is this needed?", :hint => "Why should this need be on GOV.UK?", :as => :check_boxes, :collection => Need::JUSTIFICATIONS %>
  <hr/>
  <%= f.input :impact, :label => "What is the impact of GOV.UK not doing this?", :hint => "What is the impact of GOV.UK not doing this?", :as => :radio, :collection => Need::IMPACT %>
  <br/>
  <%= f.inputs "Evidence", :id => "evidence" do %>
    <%= f.input :currently_online, :label => "Do you think GOV.UK currently has functionality that meets this need?", :as => :radio %>
    <%= f.input :other_evidence, :label => "Do you have any other qualitative or quantitative data that supports this need?", :as => :text, :input_html => { :class => 'span8' } %>
    <%= f.input :contacts, :label => "Contacts in a month in relation to this need", :input_html => { :class => 'span8' } %>
    <%= f.input :site_views, :label => "Page views for your site in a month", :input_html => { :class => 'span8' } %>
    <%= f.input :need_views, :label => "Page views for the need in a month", :input_html => { :class => 'span8' } %>
    <%= f.input :searched_for, :label => "Number of searches for this need in a month", :input_html => { :class => 'span8' } %>
    <%= f.input :legislation, :label => "What legislation underpins this need?", :as => :text, :input_html => { :class => 'span8' } %>
  <% end %>
  <hr/>
  <%= f.input :met_when, :label => "Need is likely to be met when", :hint => "How will you know when this need has been met?", :as => :text, :input_html => { :class => 'span8' } %>
  <hr/>
  <%= f.action :submit, :button_html => { :class => 'btn btn-success' } %>
<% end %>
