<% content_for :page_title, "Record validity decision" %>

<article class="need">
  <nav class="add-top-margin">
    <%= render partial: "needs/breadcrumb", locals: { need: @need, action: "Record validity decision" } %>
  </nav>

  <%= render :partial => "need_header" %>

  <h3>Record validity decision</h3>
  <%= semantic_form_for @need, { url: descope_need_path(@need), html: { class: "non-js-form" } } do |f| %>
    <%= render partial: "needs/validity_decision_fields", locals: { f: f } %>
    <%= f.action :submit,
                 :method => :put,
                 :button_html => {
                   :value => "Update the status",
                   :class => "btn btn-danger"
                 }
               %>
  <% end %>
  <%= render partial: "workflow_buttons", locals: { need: @need } %>
</article>
