<% content_for :page_title, "Mark as out of scope" %>

<article class="need">
  <nav class="add-top-margin">
    <%= render partial: "needs/breadcrumb", locals: { need: @need, action: "Mark as out of scope" } %>
  </nav>

  <%= render :partial => "need_header" %>

  <h3>Mark as out of scope</h3>
  <p>Are you sure you want to mark this need as out of scope? This can’t be changed.</p>
  <br/>
  <%= semantic_form_for @need, { url: descope_need_path(@need) } do |f| %>
    <%= f.input :out_of_scope_reason, :label => "Why is this need out of scope?", :hint => "Please explain why this need is not in scope for GOV.UK", :as => :text, :input_html => { :class => 'input-md-8', :rows => 3 } %>
    <%= f.action :submit,
                 :method => :put,
                 :button_html => {
                   :value => "Mark as out of scope",
                   :class => "btn btn-danger"
                 }
               %>
  <% end %>
  <%= render partial: "workflow_buttons", locals: { need: @need } %>
</article>
