<% content_for :page_title, "History & Notes" %>

<article class="need">
  <nav class="add-top-margin">
    <%= render partial: "needs/breadcrumb", locals: { need: @need, action: "History & Notes" } %>
  </nav>

  <% if @need.duplicate? %>
    <p class="need-alert">This need is a duplicate of
    <%= link_to @need.duplicate_of,
                need_path(@need.duplicate_of) %>
    </p>
  <% else %>
    <%= render :partial => "need_header" %>
  <% end %>

  <div class="row-fluid">
    <div id="notes" class="span6">
      <%= render partial: "needs/revisions/new_note_form", locals: { need: @need } %>
    </div>
    <div id="revision-history" class="span6 accordion">
      <%= render partial: "needs/revisions/recent_changes", locals: { need: @need } %>
    </div>
  </div>

  <%= render partial: "workflow_buttons", locals: { need: @need } %>
</article>
