<% content_for :page_title, "History" %>

<article class="need">
  <nav class="add-top-margin">
    <ul class="breadcrumb">
      <li><%= link_to "All needs", needs_path %> <span class="divider">/</span></li>
      <li><%= link_to "#{@need.need_id}: #{format_need_goal @need.goal}", need_path(@need) %> <span class="divider">/</span></li>
      <li class="active">History</li>
    </ul>
  </nav>

  <%= render :partial => "need_header", locals: { active: "History" } %>

  <h3>Recent changes</h3>
  <ul class="revisions">
    <%= render partial: "revision", collection: @need.revisions %>
  </ul>

  <%= render partial: "workflow_buttons", locals: { edit: false } %>
</article>
