<article id="single-need">
  <header>
    <ul class="need-breadcrumb">
      <li><%= link_to "All needs", needs_path %> <span class="divider">/</span></li>
      <li class="active"><%= format_need_goal @need.goal %></li>
    </ul>

    <% if @need.organisations.any? %>
    <p class="organisations"><%= @need.organisations.map(&:name).join(", ") %></p>
    <% end %>

    <h1>
      <div class="row">
        <div class="span10">
          <%= format_need_goal @need.goal %>
        </div>
        <div class="span2 edit-need">
          <%= link_to edit_need_path(@need), class: 'btn' do %>
            <i class="icon-edit"></i> Edit need
          <% end %>
        </div>
      </div>
    </h1>
  </header>

  <p class="the-need">
    As a <%= @need.role %><br />
    I need to <%= @need.goal %><br />
    So that <%= @need.benefit %>
  </p>
  <div class="need-wrapper">
    <div class="row">
      <div class="span8">
        <% if @need.met_when.any? %>
          <h3>Need is met when</h3>
          <ul class="met-when">
            <% @need.met_when.each do |criterion| %>
              <li><%= criterion %></li>
            <% end %>
          </ul>

        <hr>
        <% end %>

        <% if @need.justifications.any? %>
          <h3>Need is on GOV.UK because</h3>
          <ul class="justifications">
            <% @need.justifications.each do |justification| %>
              <li><%= justification %></li>
            <% end %>
          </ul>
        <% end %>

        <% if @need.impact.present? %>
          <p class="impact">
            <%= format_need_impact @need.impact %>
          </p>
        <% end %>
      </div>

      <% if show_evidence_column?(@need) %>
        <div class="evidence span4">
          <h3>Evidence</h3>

          <% if @need.monthly_need_views.present? %>
            <div class="big-number">
              <%= format_friendly_integer @need.monthly_need_views %>
              <span>Average pageviews a month</span>
            </div>
          <% end %>

          <% if percentage = calculate_percentage(@need.monthly_need_views, @need.monthly_site_views) %>
            <div class="big-number">
              <%= percentage %>
              <span>of site pageviews</span>
            </div>
          <% end %>

          <% if @need.monthly_user_contacts.present? %>
          <div class="big-number">
            <%= format_friendly_integer @need.monthly_user_contacts %>
            <span>Average contacts a month</span>
          </div>
          <% end %>

          <% if @need.monthly_searches.present? %>
            <div class="big-number">
              <%= format_friendly_integer @need.monthly_searches %>
              <span>Average searches a month</span>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>

  <section id="revisions">
    <h2>Recent changes</h2>
    <ul>
      <%= render partial: "revision", collection: @need.revisions %>
    </ul>
  </div>
</article>
