<% content_for :page_title, "Decide on need" %>

<article class="need">
  <nav class="add-top-margin">
    <%= render partial: "needs/breadcrumb", locals: { need: @need, action: "Decide on need" } %>
  </nav>

  <%= render :partial => "need_header" %>

  <h3>Decide on need</h3>
  <%= semantic_form_for @need, { url: update_status_need_path(@need), html: { class: "non-js-form" } } do |f| %>
    <%= render partial: "needs/decide_on_need_fields", locals: { f: f } %>
    <%= f.action :submit,
                 :method => :put,
                 :button_html => {
                   :value => "Update the status",
                   :class => "btn btn-success"
                 }
               %>
  <% end %>
  <%= render partial: "workflow_buttons", locals: { need: @need } %>
</article>
