<div id="duplicate">
  <h2>
    <% if @need.duplicate? %>
      Reopen duplicate
      <br/>
      <small>
        <strong>This need is closed as a duplicate of some unknown content</strong>
      </small>
    </h2>
      <%= button_to "Reopen",
                    reopen_need_path(@need.content_id),
                    method: "post",
                    class: "btn btn-success" %>
    <% else %>
      Close as a duplicate
      <br/>
      <small>
        This need duplicates an existing need, you can't edit after it's closed
      </small>
    </h2>
      <%= link_to "Close as a duplicate",
                  closed_need_path(@need.content_id),
                  id: 'close-as-duplicate',
                  class: "btn btn-danger" %>
    <% end %>
  <br/>
  <br/>
</div>

<script>
  $('#close-as-duplicate').
  attr('href', '#close-as-duplicate-modal').
  attr('data-toggle', 'modal').
  attr('role', 'button')
</script>

<% unless @need.duplicate? %>
  <div id="close-as-duplicate-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="close-as-duplicate-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="close-as-duplicate-label" class="modal-title">Close as a duplicate</h3>
        </div>

        <%= form_tag(closed_need_path(@need.content_id), method: "post") do %>

          <div class="modal-body">
            <%=
              select_tag(
              :duplicate_of,
              options_for_select(Need.list(per_page: 1e10, states: ['published']).to_options),
              { 'data-module' => 'chosen', 'style' => 'width:350px;' }
              )
            %>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <%= submit_tag("Close as duplicate", { 'class' => 'btn btn-default' }) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
