<div id="duplicate">
  <h2>
    <% if @need.duplicate_of.blank? %>
      Close as a duplicate
      <br/>
      <small>
        This need duplicates an existing need, you can't edit after it's closed
      </small>
    </h2>
      <%= link_to "Close as a duplicate",
                  close_as_duplicate_need_path(@need),
                  id: 'close-as-duplicate',
                  class: "btn btn-danger" %>
    <% else %>
      Reopen duplicate
      <br/>
      <small>
        <strong>This need is closed as a duplicate of <%= link_to "#{@need.duplicate_of}: #{canonical_need_goal}", need_path(@need.duplicate_of) %></strong>
      </small>
    </h2>
      <%= button_to "Reopen",
                    reopen_need_path(@need),
                    method: "delete",
                    class: "btn btn-success" %>
    <% end %>
  <br/>
  <br/>
</div>

<script>
  $('#close-as-duplicate').
  attr('href', '#close-as-duplicate-modal').
  attr('data-toggle', 'modal').
  attr('role', 'button')
</script>

<% if @need.duplicate_of.blank? %>
  <div id="close-as-duplicate-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="close-as-duplicate-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="close-as-duplicate-label">Close as a duplicate</h3>
    </div>

    <%= semantic_form_for @need, { url: closed_need_path(@need), html: { class: "remove-bottom-margin" } } do |f| %>
      <div class="modal-body">
        <%= f.input :duplicate_of,
                    :label => "This need is a duplicate of",
                    :hint => "ID of the need that this duplicates",
                    :input_html => { :type => :text,
                      :pattern => "[0-9]*"
                    }
                  %>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <%= f.action :submit,
                     :button_html => {
                       :value => "Close as a duplicate",
                       :class => "btn btn-danger"
                     }
                   %>
      </div>
    <% end %>
  </div>
<% end %>
