<div id="scope">
  <h2>
    Mark as out of scope
    <br/>
    <small>
      <% if @need.out_of_scope? %>
        <strong>This need is not in scope for GOV.UK</strong>
        <br/>
        <%= @need.out_of_scope_reason %>
      <% elsif @need.duplicate? %>
        You can't mark this need as 'out of scope' because it's already closed as a duplicate
      <% else %>
        No solution to this need will be created on GOV.UK, although you can still edit the need
      <% end %>
    </small>
  </h2>
  <% if @need.out_of_scope? || @need.duplicate? %>
    <%= link_to "Mark as out of scope",
                "#",
                id: 'out-of-scope',
                disabled: "",
                class: "btn btn-default btn-disabled" %>
  <% else %>
    <%= link_to "Mark as out of scope",
                out_of_scope_need_path(@need),
                id: 'out-of-scope',
                class: "btn btn-danger" %>
  <% end %>
</div>

<script>
  $('#out-of-scope').
  attr('href', '#out-of-scope-modal').
  attr('data-toggle', 'modal').
  attr('role', 'button')
</script>

<% unless @need.out_of_scope? %>
  <div id="out-of-scope-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal-out-of-scope-label" aria-hidden="true">
    <div class="modal-dialog">
      <%= semantic_form_for @need, { url: descope_need_path(@need), html: { class: "modal-content" } } do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="modal-out-of-scope-label" class="modal-title">Mark as out of scope</h3>
        </div>
        <%= f.semantic_fields_for :status do |s| %>
          <div class="modal-body">
            <p>Are you sure you want to mark this need as out of scope? This can’t be changed.</p>
            <%= s.input :reason, :label => "Why is this need out of scope?", :hint => "Please explain why this need is not in scope for GOV.UK", :as => :text, :input_html => { :rows => 3 } %>
          </div>
        <% end %>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <%= f.action :submit,
                       :method => :put,
                       :button_html => {
                         :value => "Mark as out of scope",
                         :class => "btn btn-danger"
                       }
                     %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
