<!DOCTYPE html>
<html>
<head>
  <title><%= yield :page_title %> | GOV.UK Maslow</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= yield :extra_headers %>
</head>
<body>
<script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  <header class="navbar navbar-inverse navbar-static-top" role="banner">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'GOV.UK Maslow', root_path, :class => "brand" %>
        <i class="beta">Beta</i>
        <nav role="navigation" class="nav-collapse">
          <p class="navbar-text pull-right">
            Hello, <%= link_to current_user.name, Plek.current.find('signon') %> <span class="sign-out"><%= link_to 'Sign out', gds_sign_out_path %></span>
          </p>
        </nav><!--/.nav-collapse -->
      </div>
    </div>
  </header>

  <div class="container">

    <br/>
    <%= link_to "My bookmarked needs", bookmarks_path %>

    <main role="main">
      <% [:notice, :alert, :error].select { |k| flash[k].present? }.each do |k| %>
        <div class="main-alert <%= k %>">
          <%= flash[k] %>
          <% if flash[:need_id] %>
            <%= link_to "#{flash[:need_id]}: #{flash[:goal]}",
                        need_path(flash[:need_id]) %>
          <% end %>
        </div>
      <% end %>

      <%= yield %>

    </main>

    <footer>
      <p>&copy; GDS.
      <% if feedback_address %>
        <a class="feedback" href="mailto:<%= feedback_address %>">Send feedback</a>
      <% end %>
      <span class="pull-right">Maslow release: <%= CURRENT_RELEASE_SHA %></span>
      </p>
    </footer>
  </div><!-- /container -->

  <% if Rails.env.production? %>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-26179049-6', 'alphagov.co.uk');
      ga('send', 'pageview');
    </script>
  <% end %>
</body>
</html>
