<!DOCTYPE html>
<html>
<head>
  <title>Maslow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% [:notice, :alert, :error].select { |k| flash[k].present? }.each do |k| %>
  <div class="alert <%= k %>">
    <%= flash[k] %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
